:root {
	--yellow: #F7FAA5;
	--dark: #222222;
}

@font-face {
	font-family: 'YE-Display';
	src: url('../fonts/ye-display.eot?#iefix') format('embedded-opentype'),
             url('../fonts/ye-display.woff2') format('woff2'),
	     url('../fonts/ye-display.woff') format('woff'),
	     url('../fonts/ye-display.ttf') format('truetype'),
	     url('../fonts/ye-display.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}

@import url("https://use.typekit.net/kbn7omj.css");

*	{
	margin: 0; padding: 0; box-sizing: border-box;
}

html {
	 -webkit-font-smoothing: antialiased;
 	 -moz-osx-font-smoothing: grayscale;
 	 -ms-text-size-adjust: 100%;
  	-webkit-text-size-adjust: 100%;
  	box-sizing: border-box;
  	overflow-y: scroll;
  	scroll-behavior: smooth;
}

body {
	font-family: tenon, Helvetica, Arial, sans-serif;
	font-size: 1.333rem;
	line-height: 2.3rem;
	color: #fff;
	margin: 0 auto;
}

.spacing1 { margin-bottom: 30px; }
.spacing2 { margin-bottom: 60px; }
.spacing3 { margin-bottom: 90px; }

/* - -- Typography ----- - -- ---- --- ----- - */

a {
	font-weight:  700;
	transition: 500ms color;
	text-decoration: none;
}

a:hover,
a:active {
	color: #666;
}

h1 {
	font-family: 'YE-display', Helvetica, monospace;
	font-size: 3rem;
	line-height: 4rem;
	letter-spacing: .05em;
	font-weight: 500;
	margin-bottom: 30px;
}

h2 {
	font-family: 'YE-display', monospace;
	font-size: 2.33rem;
	line-height: 3.5rem;
	letter-spacing: .05em;
	font-weight: 500;
}

h3 {
	font-family: 'YE-display', monospace;
	font-size: 1.5rem;
	line-height: 2.5rem;
	letter-spacing: .05em;
	font-weight: 500;
}

h4 {
	font-family: tenon, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 2.4rem;
	letter-spacing: .1em;
}

small {
	font-size: 1rem;
}

.reg small,
.slim small {
	text-transform: uppercase;
}

.work-card-info small,
.home-card-info small,
.work-card-info-2 small,
.home-card-info-2 small {
	letter-spacing: .1em;
}

/* ---- Header/Footer ----  --- - ----  --- -- --*/

.header,
.footer {
	max-width: 1092px;
	margin: 0 auto;
	background: white;
	padding: 0px 30px;
}

.footer {
	margin-bottom: 30px;
}

.topnav {
	max-width: 1092px;
	padding-top: 8px;
	display: flex;
	justify-content: space-between;
	flex-flow: row nowrap;
	list-style-type: none;
	/* align-items: center; */
	margin-bottom: -30px;
}

.footernav {
	max-width: 1092px;
	padding-top: 30px;
	display: flex;
	justify-content: space-between;
	flex-flow: row nowrap;
	list-style-type: none;
	margin-bottom: -20px;
	/* align-items: center; */
}

.topnav a {
	font-family: "YE-display", monospace;
	font-size: 1.2rem;
	text-transform: uppercase;
	letter-spacing: .15em;
	color: var(--dark);
	margin-bottom: 15px;
	text-decoration: none;
}

.nav-item-footer a {
	font-family: "YE-display", monospace;
	font-size: 1.2rem;
	text-transform: uppercase;
	letter-spacing: .15em;
	color: var(--dark);
	text-decoration: none;
	padding-top: 26px;
}

.nav-item,
.nav-item-footer {
	font-size: 1.2rem;
	text-transform: uppercase;
	margin-left: 30px;
	letter-spacing: .15em;
	padding-bottom: 20px;
	border-bottom: 10px solid transparent;
}

.nav-item:hover,
.nav-item:active {
	border-bottom: 10px solid var(--dark);
}

.nav-item-footer a:hover,
.nav-item-footer a:active  {
	border-top: 10px solid var(--dark);
}

.head-wrap,
.foot-wrap {
	max-width: 1092px;
	display: flex;
	flex-flow: row nowrap;
	/* align-items: center; */
	justify-content: space-between;
	padding-top: 20px;
	padding-bottom: 10px;
}

.logo-wrap {
	text-align: center;
}

.foot-social {
	color: var(--dark);
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
	margin-top: 10px;
}

.foot-social a {
	color: #222;
	font-size: 1.2rem;
	font-weight: 700;
	text-decoration: none;
}

.socialicon {
	width: 25px;
	height: 25px;
	margin-left: 10px;
	margin-bottom: -7px;
}

.nav-icons {
	margin-left: 30px;
}

/* -- - - - Images ----- -- - - - ------ - -- */

img { transition: all .5s ease-in-out; }
img:hover { transform: scale(1.15); }
.donthover:hover { transform: none; }

.heroimg {
	width: 100%;
	max-width: 500px;
	opacity: .8;
	border-radius: 20px;
}

.logotype {
	width: 400px;
	height: 51px;
}

.logomark {
	width: 60px;
	height: auto;
}

.logomark-r {
	width: 60px;
	height: auto;
	display: none;
}

.logo-overlay {
	width: 100%;
	max-width: 675px;
	height: auto;
	margin-left: -20px;
}

.type-overlay {
	margin-top: 75px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 575px;
	height: auto;
	position: absolute;
	mix-blend-mode: difference;
}

.logostacked {
	width: 100%;
	max-width: 250px;
	height: auto;
}

.image {
	width: 100%;
	max-width: 510px;
	box-shadow: 0px 0px 10px #000;
}

.imagewide {
	width: 100%;
	max-width: 690px;
	box-shadow: 0px 0px 20px #000;
}

.stackedimage {
	width: 100%;
	max-width: 800px;
}

/* - - --- - -- Divs --------- - - --- ---- */

.view-container {
	height: 100vh;
	background: var(--dark);
	margin: 0 auto;
}

.container {
	background: var(--dark);
	margin: 0 auto;
	padding: 30px 0px;
}

.content-container {
	max-width: 1092px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	margin: 30px auto;
	color: #222;
}

.white-section {
	color: #222;
}

.content {
	max-width: 1092px;
	padding-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

.overlay {
	text-align: center;
	padding-top: 30px;
}

.about-container {
	max-width: 1092px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin: 30px auto;
	margin-bottom: 60px;
}

.about-social {
	color: var(--yellow);
	font-weight: 700;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
	margin-top: 10px;
}

.about-social a {
	color: var(--yellow);
	text-decoration: none;
	margin-left: 10px;
}

.left,
.right {
	width: 45%;
}

/* Adjust width to work with the works images */
.reg {
	width: 50%;
}

.slim {
	width: 33%;
}

.reg h4,
.slim h4 {
	margin-bottom: 20px;
}

.reg p,
.reg p {
	margin-bottom: 10px;
	margin-top: 30px;
}




/* ---- - -- -- Work Grid --- - - --- -- -- - -*/

.work-card {
	width: 45%;
	height: 100%;
	position: relative;
	margin: 30px 0px;
	background: #222;
}

.work-card a {
	text-transform: uppercase;
	color: white;
}

.work-thumb {
	opacity: 0.6;
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 20px #111;

	transition: opacity 0.5s ease-out;
}

.home-thumb {
	opacity: 1.0;
	width: 100%;
	height: 100%;
	margin-bottom: -12px;
	box-shadow: 0px 0px 20px #ccc;

	transition: opacity 0.5s ease-out;
}

.work-thumb:hover {
	opacity: 1.0;
}

.home-thumb:hover {
	opacity: 0.5;
}

.work-card-info {
	position: absolute;
	width: 100%;
	top: 33%;
	text-align: center;
	mix-blend-mode: normal;
	z-index: 2;
	opacity: 1.0;

	transition: opacity .5s ease-out;
}

.work-card-info:hover {
	opacity: 0;
}

.work-card-info-2 {
	position: absolute;
	width: 100%;
	top: 33%;
	text-align: center;
	mix-blend-mode: difference;
	z-index: 1;
}

.home-card-info-2 {
	position: absolute;
	width: 100%;
	top: 33%;
	text-align: center;
	mix-blend-mode: difference;
	z-index: 1;

	text-shadow: 0px 0px 5px #333;
}

.work-mobile-info {
	display: none;
}

/* -- - ---- Responsive --- - - -- -- - - - */

@media only screen and (max-width: 1112px) {
	.header,
	.footer,
	.content-container,
	.content,
	.about-container {
		padding: 0px 30px;
	}
}

@media only screen and (max-width: 1024px) {
	.reg,
	.slim {
		padding-left: 30px;
	}

	.work-card-info h2,
	.work-card-info-2 h2 {
		font-size: 2rem;
	}
}

@media only screen and (max-width: 949px) {
	.logotype {
		display: none;
	}

	.logomark-r {
		display: block;
	}
}

@media only screen and (max-width: 880px) {
	.work-card {
		width: 48%;
	}
}

@media only screen and (max-width: 805px) {
	.work-card-info h2,
	.work-card-info-2 h2 {
		font-size: 1.8rem;
	}

	.about-container {
		flex-flow: column wrap;
	}

	.about-container .left,
	.about-container .right {
		width: 100%;
	}

	.about-social {
		margin-top: 90px;
		flex-flow: row nowrap;
	}

	.heroimg {
		display: none;
	}

	.heroimgwrap {
		text-align: center;
		display: block;
		position: absolute;
		top: 150px;
	}

	.heroimgmobile {
		opacity: .2;
		width: 90%;
	}
}

@media only screen and (max-width: 768px) {
	

	.work-card-info h2,
	.work-card-info-2 h2 {
		font-size: 1.5rem;
	}

	.work-card-info small,
	.work-card-info-2 small {
		font-size: .75rem;
	}
}

@media only screen and (min-width: 700px) {
	.mobiletitle {
		display: none;
	}
}

@media only screen and (max-width: 700px) {
	.socialname {
		display: none;
	}

	.foot-social {
		justify-content: flex-end;
	}

	.left,
	.right,
	.reg,
	.slim {
		width: 100%;
		padding-left: 0px;
		padding-top: 30px;
	}

	.desktoptitle {
		display: none;
	}

	.work-card {
		width: 100%;
	}

	.work-card-info h2,
	.work-card-info-2 h2 {
		font-size: 2.33rem;
	}

	.work-card-info small,
	.work-card-info-2 small {
		font-size: 1rem;
	}
}

@media only screen and (max-width: 674px) {
	.type-overlay {
		max-width: 500px;
	}

	.about-container {
		background-image: url("../img/hero-image-bg.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
  		background-position: center;
  		margin-top: -30px;
  		margin-bottom: -30px;
  		padding-top: 30px;
  		padding-bottom: 30px;
	}

	.about-social {
		flex-direction: column;
		margin: 30px 0px;
	}
}

@media only screen and (max-width: 607px) {
	body {
		font-size: 1.2rem;
		line-height: 2rem;
	} 

	h1 {
		font-size: 2.8rem;
	}

	.content-container {
		flex-direction: column;
	}

	.work-card {
		width: 100%;
		max-width: 500px;
	}
}

@media only screen and (max-width: 606px) {
	.header, .display {
	 	display: none; 
	}

	.work-header {
		text-align: center;
	}

	.work-mobile-info {
		display: block;
	}
}

@media only screen and (max-width: 585px) {
	.type-overlay {
		max-width: 450px;
	}
}

@media only screen and (max-width: 520px) {
	.type-overlay {
		max-width: 400px;
	}
}

@media only screen and (max-width: 500px) {
	.work-card-info h2,
	.work-card-info-2 h2 {
		font-size: 1.8rem;
	}

	.foot-wrap {
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.foot-social {
		justify-content: space-between;
	}

	.foot-logo {
		margin-bottom: 30px;
	}

	.nav-item-footer {
		margin-left: 15px;
		margin-right: 15px;
	}

	.heroimgmobile {
		width: 125%;
	}

	.nav-item-footer a:hover,
	.nav-item-footer a:active  {
		border-bottom: 10px solid var(--dark);
		border-top: 0;
		padding-bottom: 10px;
	}
}

@media only screen and (max-width: 450px) {
	.type-overlay {
		max-width: 350px;
		margin-top: 50px;
	}

	.heroimgmobile {
		width: 200%;
		margin-top: -75px;
		margin-left: -150px;
	}
}

@media only screen and (max-width: 400px) {
	.work-card-info h2,
	.work-card-info-2 h2 {
		font-size: 1.6rem;
	}
}

@media only screen and (max-width: 380px) {
	.type-overlay {
		max-width: 320px;
		margin-top: 40px;
	}
}

@media only screen and (max-width: 360px) {
	.type-overlay {
		max-width: 300px;
	}

	.nav-item-footer {
		margin-left: 10px;
		margin-right: 10px;
	}
}